@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

/* custom highlight */
::selection {
  background-color: #3f3f46;
  color: #ffffff;
}

/* prevent blue highlight on click */
@media (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
}

:focus {
    outline: none !important;
}

body {
  background-color: #fafafa;
  color: #18181b;
}

  input.hide-spinner::-webkit-inner-spin-button,
  input.hide-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.hide-spinner {
    -moz-appearance: textfield;
  }

  details.hideCarat summary::-webkit-details-marker {
  display:none;
}

.space th,
.space td {
  padding-right: 8px,
}
